@font-face {
	font-family: 'Satoshi-Variable';
	src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
		url('../fonts/Satoshi-Variable.woff') format('woff'),
		url('../fonts/Satoshi-Variable.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Archivo-Variable';
	src: url('../fonts/Archivo-VariableFont.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Archivo_SemiExpanded';
	src: url('../fonts/Archivo_SemiExpanded-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: bold;
}

@font-face {
	font-family: 'Archivo_SemiExpanded';
	src: url('../fonts/Archivo_SemiExpanded-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: bold;
}

@font-face {
	font-family: 'Archivo_SemiExpanded';
	src: url('../fonts/Archivo_SemiExpanded-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Archivo_SemiExpanded';
	src: url('../fonts/Archivo_SemiExpanded-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'DM-Sans-H';
	src: url('../fonts/DMSans-ExtraBold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'DM-Sans-H2';
	src: url('../fonts/DMSans-Regular.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'DM-Sans';
	src: url('../fonts/DMSans-ExtraLight.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-R';
	src: url('../fonts/Satoshi-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-B';
	src: url('../fonts/Satoshi-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
