@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
       url('../fonts/Satoshi-Variable.woff') format('woff'),
       url('../fonts/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}

// Font faces for the Archivo_SemiExpanded Bold, Itlaic, and Regular

@font-face {
  font-family: 'Archivo_SemiExpanded';
  src: url('../fonts/Archivo_SemiExpanded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo_SemiExpanded';
  src: url('../fonts/Archivo_SemiExpanded-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo_SemiExpanded';
  src: url('../fonts/Archivo_SemiExpanded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}



