@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Satoshi-Variable', sans-serif;
}

html,
body {
	height: 100%;
	/* background: rgb(4, 5, 7); */
	overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-track {
	background-color: transparent;
}

.parallax {
	transform-style: preserve-3d;
}
