@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Satoshi-Variable', sans-serif;
}

html,
body {
	height: 100%;
	background: rgb(4, 5, 7);
	overflow-x: hidden;
	/* perspective: 1000px; */
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-track {
	background-color: transparent;
}

.parallax {
	transform-style: preserve-3d;
}

img {
	width: 100%;
	height: auto;
	aspect-ratio: attr(width) / attr(height);
} 

.section-heading {
	@apply font-secondary font-bold ;
	font-family: 'Archivo_SemiExpanded';
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.04em;

	background: linear-gradient(173.91deg, rgba(255, 255, 255, 0) -102.4%, #ffffff 116.87%),
		linear-gradient(
			-40deg,
			transparent 0%,
			transparent 40%,
			#fff 50%,
			transparent 60%,
			transparent 100%
		);
	background-size: cover, 500px;
	background-position: center, -1000px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: shine 5s infinite;
}

@keyframes shine {
	0%,
	10% {
		background-position: center, -500px;
	}
	100% {
		background-position: center, 500px;
	}
}